{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <title>PK Relax Fit</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Brush+Script+MT&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Luminari&display=swap">
    <meta name="google-site-verification" content="RBYjh0_gAGhqf_K4wPSsz79kxLVAUMPng7TD-a0jQcY" />
{% endblock %}

{% block content %}

    {% include 'navbar-homepage.html' %}

    <div class="top-margin-homepage"></div>
    <div class="under-navbar-text">
        <div class="third-position">
            <i class="fa-solid fa-candle-holder"></i>
            <p>Aromaterapia súčasťou každej masáže</p>
            <i class="fa-solid fa-candle-holder"></i>
        </div>
        <div class="two-third-position">
            <p>Vernostný program - každá 11. masáž zdarma!</p>
        </div>
    </div>

    <section id="about-us">
        <br>
        <br>
        <br>
       <div class="about-us-container">
           <div class="person-container">
               <img class="roman-image" src="{% static 'images/profil.jpg' %}">
               <div class="person-info">
                   <h3 class="name-surname">
                       Pavol Kysela
                   </h3>
                   <ul class="technique-list">
                       <li>{% trans 'Klasická masáž' %}</li>
                       <li>{% trans 'Športová masáž' %}</li>
                       <li>{% trans 'Relaxačná masáž' %}</li>
                       <li>{% trans 'Mäkké a myofasciálne techniky' %}</li>
                       <li>{% trans 'Lávové kamene' %}</li>
                       <li>{% trans 'Bankovanie' %}</li>
                       <li>{% trans 'Moxovanie' %}</li>
                       <li style="white-space: nowrap;">{% trans 'Terapeutická čínska tlaková masáž chodidiel (FUSS terapia)' %}</li>
                   </ul>
               </div>
           </div>
       </div>

       <div style="display: flex; justify-content: center">
           <a href="{% url 'reservation' %}" class="reservation-button-about-us"><i class="fa-solid fa-calendar-circle-plus"></i> {% trans 'Rezervovať termín' %}</a>
       </div>
    </section>

    <br>
    <br>

    <section id="technique">
        <h1>Cenník / Techniky</h1>

        <div class="technique-container-main">
            <div class="technique-container-tables">
                <table class="price-table">
                    <tr class="category"><td colspan="2">Klasická, športová, relaxačná masáž / Mäkké techniky</td></tr>
                    <tr><td>30 min</td><td class="highlight">20 €</td></tr>
                    <tr><td>45 min</td><td class="highlight">25 €</td></tr>
                    <tr><td>60 min</td><td class="highlight">30 €</td></tr>
                    <tr><td>90 min (dohoda telefonicky)</td><td class="highlight">40 €</td></tr>
                    <tr><td>120 min (dohoda telefonicky)</td><td class="highlight">50 €</td></tr>

                    <tr class="category"><td colspan="2">Lávové kamene, Bankovanie, Moxovanie</td></tr>
                    <tr><td>45 min</td><td class="highlight">35 €</td></tr>
                    <tr><td>60 min</td><td class="highlight">40 €</td></tr>

                    <tr class="category"><td colspan="2">Terapeutická čínska tlaková masáž chodidiel (FUSS terapia)</td></tr>
                    <tr><td>60 min</td><td class="highlight">35 €</td></tr>
                    <tr><td></td><td style="text-align: right;">Cenník platný od 01.01.2025</td></tr>
                </table>

                {% comment %}
                <table class="price-table">
                        <tr class="category">
                            <td>Druh poskytovaných masáží</td>
                            <td style="text-align: right;">Čas</td>
                        </tr>
                        <tr><td>Chrbát: klasik</td><td class="highlight">30 min</td></tr>
                        <tr><td>Chrbát: čínska tlaková</td><td class="highlight">5 min</td></tr>
                        <tr><td>Šija: klasik</td><td class="highlight">10 min</td></tr>
                        <tr><td>Šija: čínska tlaková</td><td class="highlight">5 min</td></tr>
                        <tr><td>Dolné končatiny: klasik</td><td class="highlight">45 min</td></tr>
                        <tr><td>Horné končatiny: klasik</td><td class="highlight">15 min</td></tr>
                        <tr><td>Brucho: klasik</td><td class="highlight">10 min</td></tr>
                        <tr><td>Brucho: čínska tlaková</td><td class="highlight">5 min</td></tr>
                        <tr><td>Tvár: relaxačná</td><td class="highlight">10 min</td></tr>
                        <tr><td>Hrudník: klasik</td><td class="highlight">8 min</td></tr>
                        <tr><td>Fuss: Reflexná masáž chodidiel</td><td class="highlight">60 min</td></tr>
                </table>
                {% endcomment %}

                <table class="price-table">
                        <tr class="category">
                            <td>Odporúčané kombinácie masáží</td>
                            <td style="text-align: right;">Čas</td>
                        </tr>
                        <tr><td>Chrbát</td><td class="highlight">30 min</td></tr>
                        <tr><td>Horné končatiny + šija</td><td class="highlight">30 min</td></tr>
                        
                        <!-- 45 min -->
                        <tr><td>Chrbát + šija, dolné končatiny</td><td class="highlight">45 min</td></tr>
                        <tr><td>Horné končatiny + šija</td><td class="highlight">45 min</td></tr>
                        <tr><td>Chrbát + šija + bankovanie</td><td class="highlight">45 min</td></tr>
                        <tr><td>Chrbát + šija + lávové kamene</td><td class="highlight">45 min</td></tr>
                        
                        <!-- 60 min -->
                        <tr><td>Chrbát + šija, horné končatiny</td><td class="highlight">60 min</td></tr>
                        <tr><td>Horné končatiny + šija + bankovanie</td><td class="highlight">60 min</td></tr>
                        <tr><td>Horné končatiny + šija + lávové kamene</td><td class="highlight">60 min</td></tr>
                        <tr><td>Horné a dolné končatiny</td><td class="highlight">60 min</td></tr>
                        <tr><td>Chrbát + šija + bankovanie</td><td class="highlight">60 min</td></tr>
                        <tr><td>Chrbát + šija + lávové kamene</td><td class="highlight">60 min</td></tr>
                        <tr><td>Fuss (tlaková masáž chodidiel)</td><td class="highlight">60 min</td></tr>

                        <tr><td>Masáž na želanie (iba telefonicky)</td><td class="highlight">90/120 min</td></tr>
                </table>
            </div>

            <div class="info-buttons-container">
                <button class="info-masage-button" onclick="openSwal(1)">Klasická masáž</button>
                <button class="info-masage-button" onclick="openSwal(2)">Športová masáž</button>
                <button class="info-masage-button" onclick="openSwal(3)">Relaxačná masáž</button>
                <button class="info-masage-button" onclick="openSwal(4)">Mäkké techniky</button>
                <button class="info-masage-button" onclick="openSwal(5)">Lávové kamene</button>
                <button class="info-masage-button" onclick="openSwal(6)">Bankovanie</button>
                <button class="info-masage-button" onclick="openSwal(7)">Moxovanie</button>
                <button class="info-masage-button" onclick="openSwal(8)">FUSS terapia</button>
            </div>
        </div>
    </section>

    <section id="gallery">
        <h1>{% trans 'Galéria' %}</h1>
            <div class="gallery-container">
                {% for photo in photos %}
                    <img src="{{ photo.photo }}" onclick="openBiggerImage('{{ photo.photo }}')">
                {% endfor %}
            </div>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
            </div>
    </section>

    <section id="poukazka" style="margin-bottom: 100px;">
        <div class="gallery-container-poukazka">
            {% for voucher in vouchers %}
                <div class="voucher-download-container">
                    <h2 style="font-family: 'Luminari', fantasy;">{{ voucher.name }}</h2>
                    <img src="{{ voucher.photo }}" onclick="openBiggerImage('{{ voucher.photo }}')">
                    <a class="download-button" href="{{ voucher.photo }}" download>{% trans 'Stiahnúť' %}<i class="fa-duotone fa-arrow-down-to-line"></i></a>
                </div>
            {% endfor %}
        </div>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
        </div>
    </section>

    <section id="contact">
        <div class="contact-container">
            <div class="contact-info">
                <p>{% trans 'PK Relax Fit' %}</p>
                <p><i class="fa-regular fa-map-location-dot"></i> Na rybník 636, 013 01 Teplička nad Váhom</p>
                <p><i class="fa-duotone fa-phone"></i> +421 903 773 400</p>
                <p><i class="fa-duotone fa-envelope"></i> kyspa@kyspa.sk</p>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scripts/homepage.js' %}"></script>
{% endblock %}