{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <title>{% trans 'Rezervácia' %}</title>
{% endblock %}

{% block content %}

    <style>
        #calendar {
            width: 60%;
            height: 450px;
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
        }
        .fc-header-toolbar { /* Target the entire header toolbar */
          font-size: 0.8rem; /* Reduce font size */
        }

        :root {
            --fc-event-bg-color: #3fbb46;
            --fc-event-border-color: #3fbb46;
            --fc-highlight-color: #9fdba7;
        }

        .fc-left button, .fc-right button { /* Target buttons on left and right */
          padding: 5px 8px; /* Reduce button padding */
        }

        .fc-daygrid-day { /* Target the day cell class */
          font-size: 15px !important; /* Adjust font size as needed */
        }

        .fc-daygrid-day {
            transition: 0.2s;
        }

        .fc-day:hover {
            cursor: pointer;
        }

        .fc-day-past:hover {
            cursor: not-allowed;
        }

        .custom-day-class {
            background-color: #bebebe;
        }

        .fc-col-header-cell {
            background-color: white;
        }

        .custom-day-class:hover {
            cursor: not-allowed;
        }

        .fc-col-header-cell {
            font-size: 15px;
        }

        .fc-daygrid-day-number {
          margin: auto;
          font-size: 18px;
        }

        .fc-daygrid-day-frame {
            height: 50px;
        }

        .fc-daygrid-day.fc-day-today {
            background-color: #bebebe !important;
        }

        .swal2-user-select-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
            gap: 5px; /* Adds spacing between items */
            max-height: 65vh; /* Optional: sets a max height */
            overflow-y: auto;  /* Allows scrolling if there are too many items */
        }

        @media screen and (max-width: 500px) {
            #calendar {
                width: 105%;
                height: 450px;
                border: 1px solid black;
                padding: 10px;
                margin-bottom: 10px;
            }

            .swal2-user-select-list {
                display: flex;
                flex-direction: column;
                gap: 2px;
                font-size: 12px;
            }
       }

    </style>

    {% include 'navbar.html' %}
    <div class="top-margin-reservation"></div>

    <div class="column-container">
        <div style="display: flex; flex-direction: column; width: 90%; margin: auto; justify-content: center; align-items: center;">
            <p class="payment-in-cash" style="color: #ff6363;">! Platba možná len v hotovosti !</p>
            <p style="margin: 0px; text-align: center;">Online rezervácia aspoň 2 dni vopred, skorší termín (dnes / zajtra) telefonicky.</p>
            <p style="margin: 0px; text-align: center;">Masáže 90 alebo 120 minútové len telefonicky.</p>
            <p style="margin: 0px; font-size: 18px; font-weight: bold;">+421 903 773 400</p>
        </div>

        <div class="reservation-box-container">
            <div id="reservation-box-container" class="column-container">

                <h2>{% trans 'Vyberte Dátum' %}:</h2>
                <div class="calendar" id="calendar"></div>
                <input type="date" id="date" class="insert-date-add-truck" onchange="pickDate()" readonly>

                <h2 style="text-align: center;" class="hidden-element-first add-hidden-first">{% trans 'Vyberte začiatok masáže' %}:</h2>
                <div id="time-slot-container" class="hidden-element-first add-hidden-first time-slot-container"></div>

                <hr class="hidden-element-second add-hidden-second hr-basic-style" id="choose-duration-hr">
                <h2 style="margin-top: 2px;" class="hidden-element-second add-hidden-second" id="choose-duration-h2">{% trans 'Vyberte dĺžku masáže' %}:</h2>
                <div class="hidden-element-second add-hidden-second row-container duration-container">
                    <div class="hidden-element-second add-hidden-second big-button option-button-time" id="30">30 min</div>
                    <div class="hidden-element-second add-hidden-second big-button option-button-time" id="45">45 min</div>
                    <div class="hidden-element-second add-hidden-second big-button option-button-time" id="60">60 min</div>
                </div>

                <hr class="hidden-element-30 add-hidden-30 hr-basic-style">
                <h2 style="margin-top: 2px;" class="hidden-element-30 add-hidden-30">{% trans 'Vyberte typ masáže' %}:</h2>
                <div class="hidden-element-30 add-hidden-30 type-button-container">
                    <div class="hidden-element-30 add-hidden-30 small-button option-button-type" id="Chrbát">Chrbát</div>
                    <div class="hidden-element-30 add-hidden-30 small-button option-button-type" id="Horné končatiny + šija">Horné končatiny + šija</div>
                </div>

                <hr class="hidden-element-45 add-hidden-45 hr-basic-style">
                <h2 style="margin-top: 2px;" class="hidden-element-45 add-hidden-45">{% trans 'Vyberte typ masáže' %}:</h2>
                <div class="hidden-element-45 add-hidden-45 type-button-container">
                    <div class="hidden-element-45 add-hidden-45 small-button option-button-type" id="Chrbát + šija">Chrbát + šija</div>
                    <div class="hidden-element-45 add-hidden-45 small-button option-button-type" id="Dolné končatiny">Dolné končatiny</div>
                    <div class="hidden-element-45 add-hidden-45 small-button option-button-type" id="Horné končatiny + šija">Horné končatiny + šija</div>
                    <div class="hidden-element-45 add-hidden-45 small-button option-button-type" id="Chrbát + šija + bankovanie">Chrbát + šija + bankovanie</div>
                    <div class="hidden-element-45 add-hidden-45 small-button option-button-type" id="Chrbát + šija + lávové kamene">Chrbát + šija + lávové kamene</div>
                </div>

                <hr class="hidden-element-60 add-hidden-60 hr-basic-style">
                <h2 style="margin-top: 2px;" class="hidden-element-60 add-hidden-60">{% trans 'Vyberte typ masáže' %}:</h2>
                <div class="hidden-element-60 add-hidden-60 type-button-container">
                    <div class="hidden-element-60 add-hidden-60 small-button option-button-type" id="Chrbát + šija">Chrbát + šija</div>
                    <div class="hidden-element-60 add-hidden-60 small-button option-button-type" id="Horné končatiny">Horné končatiny</div>
                    <div class="hidden-element-60 add-hidden-60 small-button option-button-type" id="Horné končatiny + šija + bankovanie">Horné končatiny + šija + bankovanie</div>
                    <div class="hidden-element-60 add-hidden-60 small-button option-button-type" id="Horné končatiny + šija + lávové kamene">Horné končatiny + šija + lávové kamene</div>
                    <div class="hidden-element-60 add-hidden-60 small-button option-button-type" id="Horné a dolné končatiny">Horné a dolné končatiny</div>
                    <div class="hidden-element-60 add-hidden-60 small-button option-button-type" id="Chrbát + šija + bankovanie">Chrbát + šija + bankovanie</div>
                    <div class="hidden-element-60 add-hidden-60 small-button option-button-type" id="Chrbát + šija + lávové kamene">Chrbát + šija + lávové kamene</div>
                    <div class="hidden-element-60 add-hidden-60 small-button option-button-type" id="Fuss (tlaková masáž chodidiel)">Fuss (tlaková masáž chodidiel)</div>
                </div>

                <hr class="hidden-element-third add-hidden-third hr-basic-style">

                <div class="hidden-element-third add-hidden-third">
                    <div class="column-container">
                        <div class="row-container input-container-reservation">
                            <label for="name_surname">
                                {% trans 'Meno a Priezvisko' %}<span class="required">*</span>:
                            </label>
                            <input type="text" id="name_surname" name="name_surname" value="{% if request.user.is_authenticated and not request.user.is_superuser%}{{ user.name }} {{ user.surname }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="email">
                                Email<span class="required email-required">*</span>:
                            </label>
                            <input type="email" id="email" name="email" value="{% if request.user.is_authenticated and not request.user.is_superuser%}{{ user.email }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="phone">
                                {% trans 'Telefónne číslo' %}<span class="required phone-required">*</span>:
                            </label>
                            <input type="text" id="phone" name="phone" value="{% if request.user.is_authenticated and not request.user.is_superuser and user.phone_number %}{{ user.phone_number }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="note">
                                {% trans 'Poznámka' %}:
                            </label>
                            <input type="text" id="note" name="note">
                        </div>
                        <p>{% trans 'Polia označené * sú povinné' %}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        var isUserLoggedIn = {% if request.user.is_authenticated %}"yes"{% else %}"no"{% endif %};
        var isUserSuperUser = {% if request.user.is_superuser %}"yes"{% else %}"no"{% endif %};
        var userOptions = {{ user_data|safe }};
    </script>
    <script src="{% static 'scripts/reservation.js' %}"></script>
{% endblock %}